body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  top: 5em;
}

.boxAns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 35px;
  display: flex;
  flex-direction: column;

}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  background-color: hsla(3, 96%, 48%, 0.344);
  border: 6px solid hsla(0, 96%, 60%, 0.233);
  border-radius: 15px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 20px;
  font-family: "Lacquer", system-ui;
  font-weight: 500;
  font-style: normal;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.523);
  color: rgba(255, 0, 0, 0.651);
}

.text {
  color: rgba(255, 2, 2, 0.855);
  font-size: 27px;
  font-family: "Lacquer", system-ui;
filter: drop-shadow(0 0 5px black);
}

.text:hover {
  color: rgba(255, 255, 255, 0.764);
}


body {
  background-color: rgba(0, 0, 0, 0.999);
}

img {
  height: 7in;
  width: 12in;
}




.game {
  animation: glitch 1.5s linear infinite;
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-style: normal;

}

@keyframes glitch {

  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}





@keyframes glitchTop {

  2%,
  64% {
    transform: translate(2px, -2px);
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}



@keyframes glitchBotom {

  2%,
  64% {
    transform: translate(-2px, 0);
  }

  4%,
  60% {
    transform: translate(-2px, 0);
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}


.abc {
  background: url("gfgkmvjyj.jpg");
  width: 90%;
  height: 80%;


}

@keyframes bounce-background {
  from {
    background-position: top;
  }

  50% {
    background-position: bottom;
  }

  to {
    background-position: top;
  }
}

.abc {
  animation-name: bounce-background;
  animation-timing-function: ease-in-out;
  animation-duration: .25s;
  animation-iteration-count: infinite;

  /* For Chrome & Safari */
  -webkit-animation-name: bounce-background;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

@media screen {}