*{
    background-color: #ffffff00;  /* Fully transparent */
    text-shadow: red;
    font-size: 35px;
}
BODY{
    background-color: rgba(0, 0, 0, 0.996);
}
.btn-1{
    color: rgb(0, 0, 0);
    background: rgba(255, 55, 0, 0.688);
}
.btn-2{
    color: rgba(0, 0, 0, 0.953);
    background: rgba(69, 250, 93, 0.497);
}
.btn-3{
    color: rgba(0, 0, 0, 0.963);
    background: rgba(61, 123, 247, 0.764);
}
.btn-1:hover,
.btn-2:hover,
.btn-3:hover{
    COLOR:rgb(247, 238, 238);
}
img{
    height: 10in;
    width: 10in;
}

.image-text {
    position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  
 
  }

  .all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .btn-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  }