
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .boxAns{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 35px;
    display: flex;
    flex-direction: column;
    
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .btn {
    background-color: hsla(3, 96%, 48%, 0.344);
    border: 6px solid hsla(0, 96%, 60%, 0.233);
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 2.2vh;
    font-family: "Creepster", system-ui;
font-weight: 400;
font-style: normal;
   
  }
  
  .btn:hover {
    background-color: rgba(0, 0, 0, 0.523);
    color :rgba(255, 0, 0, 0.651);
  }

  .text{
color: rgba(255, 51, 51, 0.855);
font-family: "Creepster", system-ui;
font-weight: 400;
font-style: normal;
 }
 .text:hover{
  color: rgba(255, 112, 112, 0.638);
 }
 

body{
    background-color: rgba(0, 0, 0, 0.999);
    background-image:url(vfdf.jpg) ;
    
}

img{
    height: 7in;
    width: 7in;
}

